@import './media-queries.scss';
@import './buttons.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
}

img {
  max-width: 100%;
}

input {
  padding: 8px;
  outline: none;
}

.icon-inside {
  position: absolute;
  right: 0;
  width: 35px;
  height: 35px;
}

.media-friendly-flex , .flex-row {
  display: flex;
  flex-flow: row wrap;
}

.flex-column {
  display: flex;
  flex-flow: column wrap;
}

.justify-center {
  justify-content: center;
}

.disabled {
  cursor: not-allowed;
}

.w-100 {
  width: 100%;
}

/********************* Form *****************************/
.form {
  .form-label {
    display: block;
    margin-bottom: 8px;
  }

  .form-element-wrapper {
    margin-bottom: 20px;
  }

  .form-element {
    display: block;
    margin-bottom: 8px;
  }

  .form-element.error {
    border: 1px solid red !important;
  }

  .error-message {
    font-size: 0.8rem;
    color: red;
  }
}


@include mobile-potrait {
  .media-friendly-flex {
    flex-flow: column wrap;
  }
}